
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <h2 class="form-signing-heading">Please sign in</h2>
  <%= f.email_field :email, :placeholder => "Email address", :class => "input-block-level" %>

  <%= f.password_field :password, :placeholder => "password", :class => "input-block-level" %>

  <% if devise_mapping.rememberable? -%>
    <label class="checkbox">
      <%= f.check_box :remember_me %>
      Remember me
    </label> 
  <% end -%>

  <div><%= f.submit "Sign in", :class => "btn btn-large btn-primary" %></div>
  <%= render :partial => "devise/shared/links" %>
<% end %>

